<div class="row no-gutters">
  <div class="col-md-6 mt-1">
    <div class="card">
      <div class="card-header">Ingredient store</div>
      <div class="card-body">
        <ul>
          <li>Water: {{ingredientService.water}}</li>
          <li>Sugar: {{ingredientService.sugar}}</li>
          <li>Hop: {{ingredientService.get_ingr_quantity('water')}}</li>
        </ul>

      </div>
      <div class="card-footer">
        <button class="btn btn-outline-success" *ngFor="let ing of ingredientService.ingredients | keyvalue"
                (click)="ingredientService.ingredientShipmentArrival(ing.key, 10)">
          {{ing.key}} shipment</button>
      </div>

      <button class="btn btn-outline-info"
              *ngFor="let nazwa of ['Pomorskie', 'Śląskie', 'Mazowieckie', 'Małopolskie']">
        Pochodzienie {{nazwa}}
      </button>


    </div>
  </div>
  <div class="col-md-6 mt-1">
    <div class="card">
      <div class="card-header">Brew hall</div>
      <div class="card-body">
        <input type="text" class="form-control" name="beerQuantity" [(ngModel)]="beerQuantity">
        <button class="btn btn-outline-info" (click)="brewService.ingredientsAvailable(beerQuantity, null)">
          Are ingredients there for {{beerQuantity}}hL miodowe?</button>
      </div>
      <div class="card-footer"></div>
    </div>
    <div class="card mt-1" >
      <div class="card-header">Beer store</div>
      <div class="card-body text-white" style="
      background: url('assets/brewingstorage.jpg') no-repeat center;
      background-color: rgba(255,255,255,0.5);">
        <ul>
          <li> progress bar: storage of `miodowe`</li>
          <li> progress bar: storage of `porter`</li>
          <li> progress bar: storage of `tyskie`</li>
        </ul>
      </div>
      <div class="card-footer"></div>
    </div>

  </div>
</div>

