<div class="row no-gutters">
  <div class="col-md-3"></div>
  <div class="col-md-6 mt-12 text-center" style="padding-top: 10%">

    <div class="card">
      <div class="card-header">Praca z "x i customers"</div>
      <div class="card-body">
        <p>
          <br>
          x = {{x}}
          <br>
          customers = {{customers}}
          <br>
          random user = {{randomUser}}
        </p>

      </div>
      <div class="card-footer">
        <p>
          <button class="btn btn-success mr-1" (click)="incrementX()">+1</button>
          <button class="btn btn-outline-success mr-1" (click)="decrementX()">-1</button>
          <button class="btn btn-outline-info mr-1" (click)="customers=usersService.getUsers()">load customers</button>
          <button class="btn btn-outline-info mr-1" (click)="randomUser=createRandomUser()">random user</button>
          <button class="btn btn-outline-info mr-1" (click)="secretService.sayHello()">greetUser</button>

        </p>

      </div>
    </div>


  </div>
  <div class="col-md-3"></div>
</div>

