<div class="row no-gutters">
  <div class="col-md-6 mt-1">
    <div class="card">
      <div class="card-header">Ingredient store</div>
      <div class="card-body"></div>
      <div class="card-footer"></div>
    </div>
  </div>
  <div class="col-md-6 mt-1">
    <div class="card">
      <div class="card-header">Brew hall</div>
      <div class="card-body"></div>
      <div class="card-footer"></div>
    </div>
    <div class="card">
      <div class="card-header">Beer store</div>
      <div class="card-body"></div>
      <div class="card-footer"></div>
    </div>

  </div>
</div>

