<div class="card">
  <div class="card-header">Bank ({{bank.get_IBAN()}})</div>
  <div class="card-body">
    Funds: {{current_funds}}
    <button class="btn btn-outline-info" (click)="reload_funds()">Reload</button>
    <br>
    <input [(ngModel)]="amount">
    <button class="btn btn-outline-info" (click)="deposit_funds()">Wpłać</button>
    <button class="btn btn-outline-info" (click)="withdraw_funds()">Wypłać</button>
  </div>
  <div class="card-footer">
    Wybór banku:
    <button class="btn btn-outline-info mr-1" (click)="selectSB()">SimpleBank</button>
    <button class="btn btn-outline-info" (click)="selectSK()">Skarbonka</button>
    <button class="btn btn-outline-info" (click)="selectOnline()">OnlineBank</button>
  </div>
</div>
