
<div class="row no-gutters fullscreen ">
  <div class="col-md-2"></div>
  <div class="col-md-8 mt-12 text-center" style="padding-top: 10%">
    <h1> A very long title</h1>
    <img class="img-fluid" src="assets/mL.png">
    <h3> Fun Page</h3>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row b text-white">
  <div class="col-md-12 ">
    <div class="p-6">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standa
      orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standa
      orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standa
      orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standa
      orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standa
      orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standa
      orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standa
      orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standa
      orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standaorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standaorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standa
      <app-gallery [buttons]="gall_btn"></app-gallery>
    </div>



  </div>

</div>


<div class="row no-gutters fullscreen ">
  <div class="col-md-2"></div>
  <div class="col-md-8 mt-12 text-center" style="padding-top: 10%">
    <h1> A very long title</h1>
    <img class="img-fluid" src="assets/mL.png">
    <h3> Fun Page</h3>
  </div>
  <div class="col-md-2"></div>
</div>
